	<!-- Projects -->
	<div class="portfolio-container">
		<div class="row">
			<div class="large-10 large-offset-1 columns">
				<h2 class="taxonomy-title">Blog</h2>
				<p><a href="#">Interactive</a>, <a href="#">Plugins</a>, <a href="#">Code</a>, <a href="#">Print</a>, <a href="#">Web</a></p>
			</div>
			{{#posts}}
				<div class="large-9 large-offset-1 columns">
					<div class="row single-container">
						{{#post.even}}
							<div class="large-5 columns img-container">
								<a href="{{ post.permalink }}">
									{{& post.featured_image.html }}
								</a>
							</div>
						{{/post.even}}
						<div class="large-7 columns img-container">
							<h2>
								<a href="{{ post.permalink }}">{{ post.post_title }}</a>
							</h2>
							<p>{{& post.post_excerpt }}</p>
						</div>
						{{^post.even}}
							<div class="large-5 columns img-container">
								<a href="{{ post.permalink }}">
									{{& post.featured_image.html }}
								</a>
							</div>
						{{/post.even}}
					</div>
				</div>
			{{/posts}}
			<div class="row pagination">
				<div class="large-7 large-offset-2 columns">
					<span class="left">
						<a href="#">&#8592;&nbsp;&nbsp;Previous</a>&nbsp;/</span>
					<span class="right">/&nbsp;<a href="#">Next&nbsp;&nbsp;&#8594;</a></span>
				</div>
			</div>
		</div>
	</div>