	<!-- Projects -->
	<div class="portfolio-container">
		{{# featured_plugins_0 }}
			<div class="row single-container">
				<div class="large-7 columns img-container {{^ post.even }}right{{/ post.even }}">
					<a href="{{ post.permalink }}">
						<img src="{{ post.featured_image.home_page }}" alt="{{ post.post_title }}">
					</a>
				</div>
				<div class="large-5 columns img-container ">
					<h2>{{ post.post_title }} {{ post.key }}</h2>
					<p>{{ post.post_excerpt }}</p>
				</div>
			</div>
		{{/ featured_plugins_0 }}
		<!-- Plugins -->
		<div class="row margin-top border-bottom">
			<div class="large-3 columns">
				<h2>JSJ GS Themes</h2>
				<p>Somtimes, I also make plugins for Wordpress. Not necessarily because I like making plugins, but because most of them are really bad.</p>
			</div>
			{{# featured_themes }}
			<div class="large-3 columns">
				<div class="img-container">
					<a href="{{ post.permalink }}">
						<img src="{{ post.featured_image.side }}" alt="{{ post.post_title }}">
					</a>
				</div>
				<h4>{{ post.post_title }}</h4>
			</div>
			{{/ featured_themes }}
			<div class="large-3 columns">
				<!-- For now, because I only have 2 plugins -->
			</div>
		</div>
		{{# featured_plugins_1 }}
			<div class="row single-container featured-plugins-1">
				<div class="large-7 columns img-container {{^ post.even }}right{{/ post.even }}">
					<a href="{{ post.permalink }}">
						<img src="{{ post.featured_image.home_page }}" alt="{{ post.post_title }}">
					</a>
				</div>
				<div class="large-5 columns img-container ">
					<h2>{{ post.post_title }} {{ post.key }}</h2>
					<p>{{ post.post_excerpt }}</p>
				</div>
			</div>
		{{/ featured_plugins_1 }}
	</div>