	<div class="row">
		<div class="large-10 large-offset-1 columns">
			<div class="page-title has-paragraph">
				<h2>{{ post.post_title }}</h2>
				<p>{{ post.sub_title }}</p>
			</div>
		</div>
	</div>

	<div class="row featured-image">
		<div class="large-10 large-offset-1 columns">
			{{& post.featured_image.html }}
		</div>
	</div>

	<div class="entry-content">
		<div class="row">
			<div class="large-6 large-offset-3 columns">
				{{& post.post_content }}
			</div>
		</div>
	</div>