	<div class="row">
		<div class="large-10 large-offset-1 columns">
			<div class="page-title {{# post.sub_title }}has-paragraph{{/ post.sub_title }} {{# post.featured_content }}has-featured-content{{/ post.featured_content }}">
				<h2>{{ post.post_title }}</h2>
				{{# post.sub_title }}
				<p>{{ post.sub_title }}</p>
				{{/ post.sub_title }}
			</div>
		</div>
	</div>
	{{# post.featured_content }}
	<div class="row featured-image">
		<div class="large-10 large-centered columns">
			{{& post.featured_content }}
		</div>
	</div>
	{{/ post.featured_content }}
	<div>
		<div class="row">
			<div class="large-3 columns link-list">
			<ul>
			{{# post.links }}
				<li><a href="{{ url }}" target="{{ target }}" class="button large">{{ title }}</a></li>
			{{/ post.links }}
			</ul>
			</div>
			<div class="large-6 large-centered columns ">
				<div class="entry-content">
					{{& post.post_content }}
				</div>
				<!-- Disqus -->
				<div id="disqus_thread"></div>
				<script type="text/javascript">
					/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
					var disqus_shortname = 'thejsj'; // Required - Replace example with your forum shortname

					/* * * DON'T EDIT BELOW THIS LINE * * */
					(function() {
						var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			</div>
		</div>
	</div>