	<div class="row">
		<div class="large-10 large-offset-1 columns">
			<div class="page-title {{# post.sub_title }}has-paragraph{{/ post.sub_title }} {{# post.featured_content }}has-featured-content{{/ post.featured_content }}">
				<h2>{{ post.post_title }}</h2>
				{{# post.sub_title }}
				<p>{{ post.sub_title }}</p>
				{{/ post.sub_title }}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="large-10 large-offset-1 columns">
			<div>
				{{ post.post_content }}
			</div>
		</div>
	</div>

	<div>
		<div class="themes-list-container">
		{{# themes }}
			<div class="row">
				<div class="large-12 columns page-title">
					<div class="page-title {{# post.sub_title }}has-paragraph{{/ post.sub_title }} {{# post.featured_content }}has-featured-content{{/ post.featured_content }}">
						<h2>{{ post.post_title }}</h2>
						{{# post.sub_title }}
						<p>{{ post.sub_title }}</p>
						{{/ post.sub_title }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-3 columns link-list">
				<ul>
				{{# post.links }}
					<li><a href="{{& url }}" target="{{ target }}" class="button large">{{ title }}</a></li>
				{{/ post.links }}
				</ul>
				</div>
				<div class="large-8 columns end"><!-- large-centered -->
					<div class="entry-content">
						{{& post.post_content }}
					</div>
				</div>
			</div>
		{{/ themes }}
		</div>
	</div>