$body-font-family: "skolar",serif;
$header-font-family: "skolar",serif;
$body-font-color: red; 
$header-font-color: red; 
$main-color: red;
$link-color: #DC0B0B; 
$link-hover-color: #840C0C; 
$black: #222;

// Buttons
$button-font-color: red;
$button-border-width: 2px;
$shiny-edge-size: 0;