
// Typeface
$body-font-family: "proxima-nova", "soleil", "adelle-sans", "proxima-nova", "adelle-sans",  "nimbus-sans", "adelle-sans", "skolar",serif;
$header-font-family: "proxima-nova", "soleil", "adelle-sans", "proxima-nova", "adelle-sans", "nimbus-sans", "adelle-sans", "skolar",serif;

// Main Colors
$body-font-color: rgb(0,0,200); 
$header-font-color: $body-font-color; 
$main-color: $body-font-color;
$body-background-color: rgb(245, 246, 252); 
$border-color: $body-font-color; //#A52D2D;
$header-font-color: $body-font-color;

// Links
$link-color: #000078; 
$link-hover-color: #0C2684; 
$link-visited-color: #0B23DC; 

// Other
$black: #222;

// Buttons
$button-font-color: $body-font-color;
$button-border-width: 2px;
$shiny-edge-size: 0;