table#edd_checkout_cart, table#edd_receipt_payment_status, table #edd_purchase_receipt_products {
	width: 99%;

	tbody {
		background: white;
	}

	thead, tfoot {
		th, td {
			padding: 5px;
		}
	}
	
	.edd_cart_item_image {
		float: left;
		margin-right: 15px;
	}
}

#edd_checkout_user_info  {
	input.edd-input {
		display: block;
		width: 100%;
		background-color: white;
	}
	.edd-description {
		color: #333;
		font-size: 12px;
	}

	legend {
		font-weight: bold;
		padding: 20px 0 10px;
	}
}