.page-title {
	&.has-paragraph {
		h2 {
			margin-bottom: 0px;
		}
	}
	h2 {
		text-align: center; 
		font-style: italic;
		font-size: 2em;
		@include breakpoint(720) {
			font-size: 4em;
		}
		line-height: 1.1em;
		letter-spacing: 0.02em;
	}
	p {
		font-style: italic;
		text-align: center;
		font-size: 12px;
		margin-top: 9px;
		font-weight: 200;
	}
}
.row.featured-image {
	text-align: center;
	@include breakpoint(720) {
		margin-bottom: 50px; 
	}

	img {
		.borderradius & {
			@include border-radius(2px);
			@include box-shadow(0px 0px 5px rgba(0,0,0,0.5));
		}
	}
}
.entry-content {
	@include breakpoint(720) {
		margin-bottom: 50px; 
	}
	.portfolio-container & {
		max-height: 100px;
		margin-bottom: 20px;
		overflow-y: hidden;
		overflow: hidden;
		@include breakpoint(720) {
			position: absolute; 
			line-height: 1.5em;
			font-size: 13px;
			padding-right: 17px;
		}
	}
	img { 
		&.left {
			max-width: 350px;
			margin-right: -120px;
			display: inline-block;
			float: right !important;
			padding: 0 0 0 10px;
			margin-left: 10px;
			border-left: solid 1px #ccc;
			margin-bottom: 10px;
		}
		&.right {
			max-width: 350px;
			margin-left: -120px;
			display: inline-block;
			float: left !important;
			padding: 0 10px 0 0;
			margin-right: 10px;
			border-right: solid 1px #ccc;
			margin-bottom: 10px;
		}
	}
	blockquote {
		font-size: 1.5em;
		margin-bottom: 0;
		padding-bottom: 0.5625em;
		@include breakpoint(720) {
			float: right;
			display: inline-block;
			margin-right: -250px;
			width: 500px;
		}
		&.left {
			float: left;
			font-size: 1.2em;
			border-left: 0;
			border-right: 1px solid;
			margin-left: -200px;
			margin-right: 20px;
			width: 400px;

		}
	}
}

