input[type="text"], 
input[type="email"], 
input[type="tel"],
textarea {
	border: solid 1px #c7c7c7;
	background: #f7f7f7;
	padding: 10px;
	font-size: 0.8em;
	line-height: 1.5em;
	color: #777;
	@include border-radius(3px);
}

input[type="submit"] {
	@include button(0.5em, white, 5px, true, false, false);
	color: $header-font-color;
	border-color: $header-font-color;
	font-size: 14px;
	text-transform: uppercase;
	@include transition-property(all);
	letter-spacing: 0.04em;
	&:hover {
		@include transition-property(all);
		color: white; 
		background-color: $header-font-color;
		letter-spacing: 0.05em;
	}
}

.field-wrap.label-left {
	.ninja-forms-field, 
	.ninja-forms-star-rating-control {
		margin-left: 0px;
		min-width: 135px;
	}
}
.ninja-forms-form-wrap {
	.field-wrap.label-left .ninja-forms-field, .field-wrap.label-left .ninja-forms-star-rating-control {
		margin-left: 0px;
	}
}

.ninja-forms-required-items {
	margin: 10px 0;
	font-size: 0.8em;
	// font-style: italic;
}

select {
	padding: 10px;
	font-size: 1.5em;
	color: #777;
}

hr.ninja-forms-field {
	margin: 15px 0;
}

.ninja-forms-field-description p {
	margin-bottom: 5px;
	font-size: 0.72em;
}

.ninja-forms-field {
	margin-bottom: 10px;
}

