.portfolio-container {
	h2 {
		font-size: 1em; 
		text-align: left; 
		font-style: italic; 
		color: $header-font-color; 
		line-height: 1em;
		position: static;
		a:link, a:visited {
			color: $header-font-color; 
		}
		.home & {
			margin-top: 56px;
		}
		&.taxonomy-title {
			font-size: 2em;
			@include breakpoint(720) {
				font-size: 3em;
			}
			border-bottom: 1px solid;
			line-height: 2em;
			margin: 5px 0;
  		}
    }
	h4 {
		font-size: 1em; 
		text-align: left; 
		font-style: italic; 
		color: $header-font-color; 
		line-height: 1.2em;
		margin: 10px 0px;
	}
	.row {
		&.border-bottom {
			border-bottom: solid 1px red;
		}
		&.pagination {
			padding-top: 20px; 
			padding-bottom: 20px; 
			border-top: 0px;
		}
		img {
			width: 100%;
			margin: 0px auto;
			display: block;
			@include box-shadow(0 0 5px rgba(0, 0, 0, 0.4));
			@include transition-property(all);
			@include transition-duration(400ms);
			@include transition-timing-function(ease-out);
			&:hover {
				@include box-shadow(0 0 5px rgba(0, 0, 0, 0.6));
				@include transition-property(all);
				@include transition-duration(500ms);
				@include transition-timing-function(ease-out);
			}
		}
		&.single-container {
			overflow: hidden;
			@include breakpoint(720) {
				height: 250px;	
			}
			padding-top: 5px; 
			margin-bottom: 5px; 
			position: static;
			border-bottom: solid 1px $light-color; 
			border-bottom: solid 1px $border-red-color; 
			.home & {
				padding-top: 30px;  
				padding-bottom: 30px;
			}
			.featured-img-container {
				max-height: 200px;
				overflow: hidden;
			}
			.img-container {
				position: relative;
				img {
					max-width: 550px; // Size of the image in the configuration
				}
			}	
			img {
				@include breakpoint(720) {
					min-height: 200px;
					@include translate3d(0, 65px);
				}
				.home & {
					@include breakpoint(720) {
						@include translate3d(0, 30px);
					}
				}
				&:hover { // Hover Transition
					@include breakpoint(720) {
						@include translate3d(0, 10px);
					}
				}
			}		
		}
		&.margin-top {
			margin-top: 20px;
		}
		&.social-links{
			padding-bottom: 40px;
			margin-top: 40px;
		}
		.large-3 {
			.img-container {
				max-height: 150px;
				position: static;
				overflow: hidden;
				border-bottom: solid 1px $light-color; 
				border-bottom: solid 1px $border-red-color; 
				padding: 0px 6px;
			}
			img {
				min-height: 150px;
				@include translate3d(0, 20px);
				&:hover {
					@include translate3d(0, 5px);
					width: 110%;
					opacity: 50%; 
				}
			}	
			h2 {
				margin-top: 7px;
			}
		}
	}
}