.top-header {
	h1 {
		font-size: 2em;
		font-style: italic;
		text-align: center;
		@include breakpoint(720) {
			text-align: left;
		}
		a {
			color: $header-font-color;
			border-bottom: 0;
		}
	}
	.row {
		margin-top: 20px; 
		padding-top: 10px; 
		border-top: solid red 3px;
		border-bottom: solid 1px $light-color; 
		border-bottom: solid 1px $border-red-color; 
	}
	.logo-image {
		img {
			height: 60px; 
		}
	}
}
.main-nav {
	text-align: center;
	.top-header & {
		@include breakpoint(720) {
			padding-top: 11px;
		}
	}
	ul.inline-list {
		margin-bottom: 0;
	}
	.home-link {
		display: inline-block;
		padding-bottom: 10px;
 		@include breakpoint(720) {
 			float: right;
 			padding-bottom: 0px;
 		}
		a {
			color: $body-font-color; 
			padding: 0px 2px;
			margin: 4px 0px;
			border-bottom: solid 1px; 
			border-color: rgba($header-font-color,0);
			@include transition-property(color);
			@include transition-duration(300ms);
			@include transition-timing-function(ease-out);
			&:hover {
				color: $link-hover-color;
				border-color: rgba($link-hover-color,0.8);
				@include transition-property(all);
				@include transition-duration(200ms);
				@include transition-timing-function(ease-out);
			}
		}
	}
}